lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfo.cs
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfoInputs.cache
.env
lyrix-backend/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
lyrix-backend/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
*.dll
*.dll
lyrix-backend/bin/Debug/net9.0/lyrix-backend.dll
*.dll
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfo.cs
*.cache
*.pdb
*.json
*.dll
*.dll
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfo.cs
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfo.cs
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfoInputs.cache
lyrix-backend/obj/Debug/net9.0/lyrix-backend.AssemblyInfoInputs.cache
*.cache
lyrix-backend/obj/lyrix-backend.csproj.nuget.dgspec.json
lyrix-backend/obj/project.assets.json
lyrix-backend/obj/project.nuget.cache
*.cache
